.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.header {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

.days-of-week {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.day-of-week {
  width: 40px;
  text-align: center;
}

.days {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.day {
  width: 40px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fillAttendance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daysInput {
  width: 30px;
  text-align: center;
  margin-top: 5px;
}

.empty {
  background-color: #f0f0f0;
}
